:root {
    --primary: #FEAF00;
    --secondary: #F8D442;
    --buttonColor: white;
    --text: black;
  }
  @font-face {
    font-family: "customFont";
    src:  url("/fonts/PlusJakartaSans-VariableFont_wght.woff2") format("woff2 supports variations"),
            url("/fonts/PlusJakartaSans-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 100 1000;
  }
  html,body{
    margin: 0;
    padding: 0;
    font-family: "customFont";
    background-color: rgb(252, 245, 245);
}

.body-header{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 35px;
    background: linear-gradient(90deg, #FEAF00, #F8D442);
    max-height: 70px;
}

.body-header h1{
    color: var(--buttonColor);
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-header button{
    display: block;
    margin-top: 37px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: var(--primary);
    font-size: 2.3rem;
    font-weight: 1;

    transform: scaleX(1);
    transition: transform 150ms ease-in-out;
}

.body-header button:hover{
    transform:scaleX(1.2);
}


/* my lists*/

.my-lists{
    margin: auto;
    background-color: white;
    max-width: 900px;
    border-radius: 30px;
}

.my-lists h2{
    padding-top: 10px;
    margin-left: 20px;
    padding-bottom: 0px;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
#wishList{
    margin-left: 40px;
}
#table-wishlist{
    width: 100%;
    padding: left 0;
}
table{
    padding-bottom: 25px;
}
table thead{
    color: rgb(221, 217, 217);
}
table tbody{
    padding-left: 40px;
    text-align: center;
}
tbody td{
    padding-bottom: 20px;
}


/*shared wishlist*/

#sharedWishList{
    margin: auto;
    background-color: white;
    max-width: 900px;
    border-radius: 30px;
}
#table-sharedWishlist{
    width: 100%;
    padding: left 0;
}

#sharedWishList h2{
    padding-top: 10px;
    margin-left: 20px;
    padding-bottom: 0px;
}

#wishlistShared{
    margin-left: 40px;
}

thead th:nth-child(1) {
    width: 50%;
    text-align: left;
  }
  
  thead th:nth-child(2) {
    width: 25%;
    text-align: center;
  }
  
  thead th:nth-child(3) {
    width: 25%;
    text-align: center;
  }
  
  th,

tbody td:nth-child(1){
    text-align: left;
}

.delbutton{
    color: red;
}