:root {
    --white: #fff;
    --primary: #FEAF00;
    --secondary: #F8D442;
    --buttonColor: white;
    --gray:  #bebebe;;
    --text: black;
    --icons: var(--primary);
    --background: rgb(252, 245, 245);
    --box-background: white;
  }

html,body{
    margin: 0;
    padding: 0;
    font-family: "customFont";
    color: var(--white);
    background: var(--background);
}

.text{
    display: block;
    text-align: center;
    color: var(--text);
    margin-bottom: 100px;
}
.text h1{
    justify-self: centers;
    margin-bottom: 30px;
}
.form{
    display: flex;
    justify-content: center;
}
.form a{
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    background: var(--primary);

    padding: 10px;
    color: white;
    box-shadow: 0px 5px 20px 0px rgba(174, 174, 174, 0.20);
    font-weight: 1px;
    margin: 20px;
}
